@import './styles/base.css';
@import './styles/button.css';
@import './styles/input.css';
@import './styles/section.css';
@import './styles/layout.css';

:root {
  --text-color:    hsla(  0deg,   0%, 100%, 1.0);
  --text-faded:    hsla(  0deg,   0%, 100%, 0.4);
  --text-bg:       hsla(240deg,   4%,  15%, 1.0);
  --input-bg:      hsla(  0deg,   0%, 100%, 0.05);
  --border:        hsla(  0deg,   0%, 100%, 0.8);
  --border-light:  hsla(  0deg,   0%, 100%, 0.2);
  --section-hover: hsla(210deg,  80%,  50%, 0.1);
  --section-focus: hsla(210deg,  65%,  40%, 0.4);
  --delete-color:  hsla(  0deg,  50%,  20%, 1.0);
  --delete-hover:  hsla(  0deg, 100%,  60%, 1.0);
}
