@import './styles/base.css';
@import './styles/tabs.css';
@import './styles/inputs.css';
@import './styles/buttons.css';
@import './styles/layout.css';

:root {
  --theme: 'dark';

  --text-primary:   rgb(172, 172, 174);
  --text-secondary: rgb(134, 134, 137);

  /*--icon-primary:  hsla(240, 4%,  5%, 0.8); /* rgba(249, 249, 250, 0.8) */

  --bg-darkest: rgb(37, 37, 38);
  --bg-darker:  rgb(27, 27, 29);
  --bg-lighter: rgb(42, 42, 46);

  --large-border: 2px solid rgb(60, 60, 61);
  --border:       1px solid rgb(60, 60, 61);

  --img-close:    url('../../../img/buttons.svg#close_dark');
  --img-eye:      url('../../../img/buttons.svg#eye_dark');
  --img-eye-fade: url('../../../img/buttons.svg#eye_dark_fade');
}
