@import './styles/base.css';
@import './styles/button.css';
@import './styles/input.css';
@import './styles/layout.css';

:root {
  --text-color:    hsla(0,        0%,   0%,  1);
  --text-color-disable: hsla(0,   0%,   0%, .4);
  --text-bg:       hsla(0,        0%, 100%,  1);
  --text-bg-hover: hsla(210deg,  80%,  50%, .1);
  --text-bg-focus: hsla(210deg,  80%,  50%, .3);

  --btn-color: hsla(0, 0%,   0%,  1);
  --btn-color-important: hsla(0, 100%,  20%, 1);
  --btn-color-important-highlight: hsla(0, 100%, 30%,  1);

  --btn-bg: hsla(0, 0%, 100%,  1);
  --btn-bg-highlight: hsla(0, 0%, 95%,  1);
  --btn-bg-important-highlight: hsla(0, 100%, 95%,  1);

  --btn-border: hsla(0, 0%,   0%, .2);
  --btn-border-highlight: hsla(0, 0%,  0%, .8);
  --btn-border-important-highlight: hsla(0, 100%, 30%, .8);
}
