
/* ------------------------------------------------------------------------- *
 * GRIDS BASIC STYLES                                                       *
 * ------------------------------------------------------------------------- */

.--grid-- {
  /* Positionning */
  position: fixed;
  top:    0;
  left:   0;
  bottom: 0;
  right:  0;
  z-index: 1000;

  /* UI */
  pointer-events: none;
}

.--position-- {
  /* Positioning */
  position: absolute;
  left: 0;
  top:  0;

  /* Box model */
  width:  100%;
  height: 100%;
}

/*.--left--   { left: 0; }*/
.--center-- { left: 50%; transform: translate(-50%, 0); }
.--right--  { left: auto; right: 0; }
/*.--top--    { top: 0; }*/
.--middle-- { top: 50%; transform: translate(0, -50%);}
.--bottom-- { top: auto; bottom: 0; }

.--center--.--middle-- { transform: translate(-50%, -50%); }
