
/* ------------------------------------------------------------------------- *
 * GRIDS BASIC STYLES                                                       *
 * ------------------------------------------------------------------------- */

.--ext--grid {
  contain: strict;

  /* Positionning */
  position: absolute;
  z-index: 100000;
  left: 0;
  top: 0;
  overflow: hidden;

  /* UI */
  pointer-events: none;
}

.--ext--grid[disabled] { display: none }

.--ext--inner { position: absolute; display: flex }
.--ext--inner.--ext--vertical   { flex-direction: row; }
.--ext--inner.--ext--horizontal { flex-direction: column; }

.--ext--margin, .--ext--gutter, .--ext--column {
  background-color: currentColor;
}

.--ext--margin {
  position: absolute;
  height: 100%;
  width: 100%;
}

.--ext--column {
  flex: 1;
  opacity: 0.15;
}
