:root {
  scroll-behavior: smooth;
}

body {
  /* Box model */
  padding: 0;
  margin:  0;

  /* Font & Text */
  font: .8em sans-serif;
  color: var(--text-color);

  /* Border & Background */
  background-color: var(--text-bg);
}

small {
  opacity: 0.4;
  vertical-align: middle;
}
