button.toggle {
  /* Box model */
  width: 2rem;
  height: 2rem;
  overflow: hidden;

  /* Font & Text */
  color: transparent;

  /* Border & Background */
  border: none;
  border-right: var(--border);
  background: none;
  background-image: var(--img-eye);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;

  /* UI */
  cursor: pointer;
}

button.toggle.hidden {
  /* Border & Background */
  background-image: var(--img-eye-fade);
}

button.delete {
  /* Box model */
  width: 2rem;
  height: 2rem;
  overflow: hidden;

  /* Font & Text */
  color: transparent;

  /* Border & Background */
  border: none;
  border-left: var(--border);
  background: none;
  background-image: var(--img-close);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;

  /* UI */
  cursor: pointer;
}

button.toggle:hover,
button.delete:hover {
  background-color: var(--bg-darkest);
}
