/* ------------------------------------------------------------------------- *
 * NORMALIZE BASIC HTML BUTTON                                               *
 * ------------------------------------------------------------------------- */
button {
  /* Text & Font */
  font-size: inherit;
  font-family: inherit;

  /* Other */
  cursor: pointer;
}

section button {
  width: 100%;
  margin: .25rem 0;
}

button.delete       { color: var(--delete-color); }
button.delete:hover,
button.delete:focus { box-shadow: 0 0 5px 1px var(--delete-hover); }
