/* ------------------------------------------------------------------------- *
 * NORMALIZE BASIC HTML INPUT                                                *
 * ------------------------------------------------------------------------- */

 input, select {
  font-size: inherit;
  font-family: inherit;
}

input {
  color: inherit;
  width: 1rem;
  background: var(--input-bg);
  border: .5px solid var(--border-light)
}

input.opacity { width: 1.75rem; }
input[type="checkbox"] { width: auto; }
input[type="number"] { width: 2rem; }
input[type="color"] {
  /* Box Model */
  width: 1em;
  height: 1em;
  padding: 0;
  margin: 0;

  /* Misc. */
  cursor: pointer;

  /* Border & Background */
  border: none;

  /* Position */
  vertical-align: middle;

  /* Appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

section label input {
  margin: .125rem 0 .125rem .25rem;
}

#ruler select {
  width: 100%;
  margin: .25rem 0;
}
