/* ------------------------------------------------------------------------- *
 * LAYOUT                                                                    *
 * ------------------------------------------------------------------------- */
label {
  display: block;
  white-space: nowrap;
}

/* HEADER ------------------------------------------------------------------ */
header {
  /* Position */
  position: sticky;
  top: 0;
  z-index: 1;

  /* Font & Text*/
  line-height: 2;

  /* Box Model */
  padding: .25em 2em .25em 5em;

  /* Backgroudn & Border */
  background-color: var(--text-bg);
  border-bottom: 1px solid var(--btn-border-highlight);
}

header label {
  display: inline-block;
}

/* FOOTER ------------------------------------------------------------------ */
footer {
  /* Font & Text */
  line-height: 1.5;

  /* Box Model */
  padding: .25em 2em .25em 5em;
}

footer label {
  max-width: 40em;
  white-space: normal;
}

footer small {
  font-size: .9em;
  font-style: italic;
}

/* MAIN BODY --------------------------------------------------------------- */
section {
  border-bottom: 1px solid var(--btn-border-highlight);
}

section:empty { display: none; }
section .row  { display: flex; }
section .row:not(:first-child) { border-top: 1px solid var(--btn-border); }
section .row:hover { background-color: var(--text-bg-hover); }
section .row.selected { background-color: var(--text-bg-focus); }
section .row.disabled { color: var(--text-color-disable); }

section .row > div {
  /* Font & Text */
  line-height: 1.5;

  /* Box Model */
  padding: .25em .5em;
}

section .head {
  /* Font & Text */
  font-weight: bold;
  text-align: right;
  white-space: nowrap;

  /* Box Model */
  width: 5em;
}

section .disabled .head {
  text-decoration-line: line-through;
}

section .param {
  flex: 1;

  display: flex;
  flex-flow: row wrap;
}

section .param label,
section .color label {
  display: block;
  margin-right: .5em;
}

section .color {
  text-align: right;
}

section .color label {
  display: inline-block;
}

section .disabled input[type="color"] {
  opacity: .2;
}

section .end {
  width: 2em;
  text-align: right;
}

section .group {
  display:flex;
  flex-flow: row wrap;
  white-space: nowrap;
}

section .group > span {
  flex: 1;
  text-align: right;
}

@media (max-width: 27em) {
  header, footer { padding: .25em .5em; }
  header label   { white-space: normal; }
  section .row   { flex-direction: column; }
  section .head  { width: auto; text-align: center; }
  section .param { justify-content: flex-end; }
  section .row .end { width: auto; text-align: right; padding: .25em 1em; }
}
