
/* ------------------------------------------------------------------------- *
 * CUSTOM TAB SYSTEM                                                         *
 * ------------------------------------------------------------------------- */

.tabs {
  /* Box model */
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;

  /* Border & Background */
  border-bottom: var(--border);
  background: var(--bg-darker);

  /* List */
  list-style: none;
}

.tabs a {
  /* Box model */
  display: block;
  padding: .7rem 1rem .4rem;

  /* Font */
  color: currentColor;
  text-decoration: none;

  /* Border & Background */
  border-right: var(--border);
  background-color: transparent;

  /* Animation */
  transition: background-color 300ms;
}

.tabs .active a {
  /* Box model */
  box-sizing: border-box;
  height: calc(100% + 1px);

  /* Border & Background */
  background-color: var(--bg-lighter);
}
